/* Navbar */
#main-nav .social {
    display: none;
}

#main-nav .container {
    grid-template-columns: 1fr;
    grid-gap: 1.2rem;
}

#main-nav ul,
#main-nav .logo {
    justify-self: center;
}

#main-nav ul a {
    padding: 0.5rem;
}

/* Home Articles */
#home-articles .articles-container {
    grid-template-columns: repeat(2, 1fr);
}

#home-articles .articles-container > *:first-child,
#home-articles .articles-container > *:last-child {
    grid-template-columns: 1fr;
    grid-column: 1;
}

@media (max-width: 500px) {
    #showcase .showcase-container,
    #home-articles .articles-container,
    #footer .footer-container {
        grid-template-columns: 1fr;
    }

    #footer .footer-container > *:last-child {
        grid-column: 1;
    }

    #footer .footer-container > *:first-child,
    #footer .footer-container > *:nth-child(2) {
        border-bottom: 1px #444 dotted;
        padding-bottom: 1rem;
    }

    /* #footer .footer-container > *:last-child,
    #footer .footer-container > *:nth-child(3),
    #footer .footer-container > *:nth-child(4) {
        border: none;
    } */

    .page-container {
        grid-template-columns: 1fr;
        text-align: justify;
    }

    .page-container > *:first-child {
        grid-row: 1;
    }

    .l-heading {
        font-size: 2rem;
        text-align: center;
    }

    #article .meta {
        text-align: center;
    }
}
